html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3.5rem;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image:url('../assets/background.jpg');
  margin-bottom: 100px;
}

.nm-main-content {
  margin-top: 2%;
  z-index: 10 !important;
  position: static;
  color: #000;
}

.jumbotron {
  opacity: .98;
  color: #000;
}

.title-header {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px black;
  padding: 20px;
}

.card-header {
  background-color: rgba(0,0,0,0.1);
}

.card-img {
  background-color: #BBDEFB;
}

#nm-localfood-map {
    height: 500px;
    width: 100%;
}

.card-image img {
  height: 165px;
  width: 100%;
  opacity: 0.75;
}

.card-margin-btm {
  margin-bottom: 15px;
}

#nm-things-places .card-title {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px black;
}

#nm-things-places .card-body {
  height: 150px;
}

.footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
