body {
  min-height: 75rem;
  padding-top: 3.5rem;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image:url('../assets/background.jpg');
}

.nm-main-content {
  margin-top: 2%;
  z-index: 10 !important;
  position: static;
  color: #000;
}

.jumbotron {
  opacity: .98;
  color: #000;
}

.title-header {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px black;
  padding: 20px;
}

.card-header {
  background-color: rgba(0,0,0,0.1);
}

.card-img {
  background-color: #BBDEFB;
}
